@{
    ViewData["Title"] = "Контакти";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Tickets" asp-action="AllFavoriteTickets">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">Контакти</li>
    </ol>
</nav>
<h2>Контакти</h2>
<hr />
<pre style="font-size:1.1em;">
Графік работы кол центру:
Понеділок - Пятница : с 9-00 до 18-00
Суббота - Неділя : 10-00 - 16-00

- (066) 500-30-10
- (096) 001-23-23
- e-mail:ticketstore@gmail.com
</pre>