@{
    ViewData["Title"] = "Privacy Policy";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Tickets" asp-action="AllFavoriteTickets">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">Оплата</li>
    </ol>
</nav>

<h2>Информація про оплату квитків</h2>
<hr />
<pre style="font-size:1.3em;">
    Оплата квитків здійснюється після оформлення замовлення. В найближчий час після заповнення анкети оператор
зв'яжеться з Вами для уточнення деталей та надання інформації про оплату квитків. Якщо у Вас залишилися питання 
або оператор з технічних причин з Вами не зв'язався ви можете зателефонувати на нашу гарячу лінію або написати
на пошту.

Понеділок - Пятница : с 9-00 до 18-00
Суббота - Неділя : 10-00 - 16-00

- (066) 500-30-10
- (096) 001-23-23
- e-mail:ticketstore@gmail.com
</pre>