@{
    ViewData["Title"] = "Privacy Policy";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Tickets" asp-action="AllFavoriteTickets">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">Про нас</li>
    </ol>
</nav>

<h2>Информація про TicketStore</h2>
<hr />
<pre style="font-size:1.3em;">
    TicketStore - це застосунок для аеропорту "Жуляни", який орієнтований на потребності туристів. Завдяки застосунку користувач може обрати маршрут який його цікавить 
та забронювати авіаквитки онлайн. Також для туристів є топ маршрутів та цікаві описи місць куди можна подорожувати. 
Бажаюємо приємного відпочинку та чудової подорожі разом з TicketStore!!!
</pre>

