@{
    ViewData["Title"] = "Privacy Policy";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Tickets" asp-action="AllFavoriteTickets">Головна</a></li>
        <li class="breadcrumb-item active" aria-current="page">Про нас</li>
    </ol>
</nav>

<h2>Информация про TicketStore</h2>
<hr />
<pre style="font-size:1.1em;">
Інфа буде додана пізніше
</pre>

