
@{
    ViewData["Title"] = "ShowNumberOfOrder";
}
<br /><br /><br />
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Дякуємо за замовлення!!!<br />Ваш номер замовлення №@ViewBag.OrderNumber</h1>
        <p class="lead">Менеджер св'яжеться с вами в найближчий час для уточнення деталей.</p>
    </div>
</div>